
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent;
    color: gold;
}
#myCanvas {
    position: absolute;
    z-index: 9;
}